body, html {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.parallax {
  height: 100vh; 
  background-attachment: fixed; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.img1 {
  background-image: url("https://picsum.photos/id/1018/1920/1080");
}
.img2 {
  background-image: url("https://picsum.photos/id/1015/1920/1080");
}


.caption {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}


.block {
  background-color: black;
  color: white;
  padding: 200px;
  text-align: center;
}
