.balloon {
      width: 200px;
      height: 220px;
      border-radius: 100%;
      background-color: red;
     margin: 50px auto;
      position: relative;
    }

.text {
    font-family: Arial, sans-serif;
    font-size: 50px;
    color: rgb(0, 0, 0);
    text-align: center;   
    font-weight: bold;
    text-shadow: 2px 2px 5px #AAAAAA;
    }

body {
    background-color: rgb(229, 245, 255);
    }