h1 {
    text-align: center; ;
}

.container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.thumbnail {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.container2 {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
}

body {
    background-color: pink;
}

.center {
    text-align: center;
}

.line {
    height: 2px;
    background-color: black;
    border: none;
}

.brand {
    text-align: right;
    font-family: monospace;
}

.tab{
    display: flex;
    width: 100%;
    border: 1px solid #ccc;

}

.tabgreen{
    flex: 1;
    background-color: lightgreen;
    padding: 50px;
    text-align: center;
}

.tabpeach{
    flex: 1;
    background-color: peachpuff;
    padding: 50px;
    text-align: center;
}